<template name="menuItem">
  <li>
    <h4>
      <span class="author">{{item}}</span>
      <span class="date">${{itemPrice}}</span>
    </h4>
    <div class ="post">
        {{#if isOwner}}
          <a href="{{pathFor 'itemEdit'}}" class="discuss btn btn-success">Edit Item</a>
        {{else}}
          {{#if currentUser}}
            <p class= "discuss">Not authorized to edit item</p>
          {{else}}
            <p class ="discuss">Please log in to edit the item.</p>
          {{/if}}
        {{/if}}
      <p>{{itemDescription}}</p>
      <p>Image not yet added</p>
    </div>
  </li>
  <hr>
</template>