<template name="registration">
  <form id = "application-signup" class="main form page">
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Business Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="Business Name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="emailAddress">Email Address</label>
      <div class="controls">
        <input name="emailAddress" id="emailAddress" type="text" value="" placeholder="Email Address" class="form-control"/>
      </div>
    </div>
    <div class="form-group {{errorClass 'address'}}">
      <label class="control-label" for="address">Street Address</label>
      <div class="controls">
          <input name="address" id="address" type="text" value="" placeholder="Street Address" class="form-control"/>
          <span class="help-block">{{errorMessage 'address'}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="city">City</label>
      <div class="controls">
          <input name="city" id="city" type="text" value="" placeholder="City" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="state">State</label>
      <div class="controls">
          <input name="state" id="state" type="text" value="" placeholder="State" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="zip">Zip code</label>
      <div class="controls">
          <input name="zip" id="zip" type="text" value="" placeholder="zip code" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="phone">Phone Number</label>
      <div class="controls">
          <input name="phone" id="phone" type="text" value="" placeholder="Phone number" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="hours">Hours</label>
      <div class="controls">
          <input name="hours" id="hours" type="text" value="" placeholder="Hours open" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="range">Delivery Range</label>
      <div class="controls">
          <input name="deliveryRange" id="deliveryRange" type="text" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="charge">Delivery Charge</label>
      <div class="controls">
          <input name="deliveryCharge" id="deliveryCharge" type="text" class="form-control"/>
      </div>
    </div>
    <label>Which plan sounds <em>amazing</em>?</label>
    {{>selectPlan}}
    <div class="form-group">
      {{> Template.dynamic template="creditCard" data="signup"}}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>